<!DOCTYPE html>
<html>
  <head>
    <title>Aplikasi Rekam Medis Pegawai v1.0</title>
    <link rel="stylesheet" href="css/photon.min.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <style type="text/css">
      .btn .icon {color: white}
    </style>
  </head>
  <body>

    <div class="window">
      <header class="toolbar toolbar-header">
        <div class="toolbar-actions"></div>
      </header>
      <div class="window-content">
        <div class="pane-group">
          <div class="pane-sm sidebar"></div>
          <div class="pane">
            <div class="padded-more"></div>
          </div>
        </div>
      </div>
      <footer class="toolbar toolbar-footer"></footer>
    </div>


    <script id="sidebar-tpl" type="text/x-handlebars-template">
    <nav class="nav-group">
      {{#each menu}}
      <a class="nav-group-item {{active}} menu-{{name}}" onclick="{{onclick}}">
        <span class="icon icon-{{icon}} icon-text"></span>
        {{label}}
      </a>
      {{/each}}
    </nav>
    </script>

    <script id="table-tpl" type="text/x-handlebars-template">
    <table class="table-striped">
      <thead>
        <tr>{{#each thead}}<th>{{this}}</th>{{/each}}</tr>
      </thead>
      <tbody>
        {{#each tbody}}
          <tr>
          {{#each this}}
            <td>{{{this}}}</td>
          {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    </script>

    <script id="form-tpl" type="text/x-handlebars-template">
    <form>
      {{#each fields}}
      <div class="form-group">
        <label>{{label}}</label>
        <input type="text" class="form-control" name="{{field}}" value="{{value}}">
      </div>
      {{/each}}
    </form>
    </script>

    <script id="toolbar-button" type="text/x-handlebars-template">
      {{#each button}}
      <button class="btn {{class}} pull-right" onclick="{{onclick}}">
        <span class="icon icon-{{icon}} icon-text"></span>
        {{label}}
      </button>
      {{/each}}
    </script>

    <script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="lib/handlebars-v4.0.11.js"></script>
    <script type="text/javascript" src="lib/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="lib/dexie.js"></script>
    <script type="text/javascript" src="lib/henri.js"></script>

    <script type="text/javascript" src="models/pasien.js"></script>
    <script type="text/javascript" src="models/diagnosa.js"></script>

    <script type="text/javascript" src="app.js"></script>
  </body>
</html>